<!DOCTYPE>
<html>
	<head>
		<meta charset="UTF-8">
		<base href="/">

		<title>TvSearch App</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">

		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/search/search.controller.js"></script>
		<script src="js/search/search.service.js"></script>
		<script src="js/show/show.controller.js"></script>
		<script src="js/show/show.service.js"></script>
		<script src="js/login/login.controller.js"></script>
		<script src="js/login/login.service.js"></script>
		<script src="js/user/user.service.js"></script>
	</head>
	<body ng-app="app">
		<nav class="navbar navbar-default" ng-controller="LoginController">
			<div class="navbar-header">
				<h4 class="navbar-brand" href="#">TvSearch App</a>
			</div>
			<ul class ="nav navbar-nav pull-right">

				<li ng-show="isLoggedIn()"><a> {{ currentUser() }}</a></li>
				<li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out </a></li>
				<li ng-hide="isLoggedIn()"><a href="/login">Log In </a></li>
				<li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
			</ul>
		</nav>




		<div ng-view></div>

	</body>
</html>
