<div ng-cloak>
<md-content>
  <md-tabs md-border-bottom>
    <md-tab label="Login">
<md-content>
  <form  ng-submit="logIn()" class="form-horizontal">


            <div class="form-group">
              <input type="text"
              class="form-control"
              placeholder="Username"
              ng-model="user.username"></input>
            </div>
            <div class="form-group">
              <input type="password"
              class="form-control"
              placeholder="Password"
              ng-model="user.password"></input>
            </div>

            <button type="submit" class="btn btn-primary">Log In</button>
          </form>

</md-content>
</md-tab>
  <md-tab label="Register">
  <md-content>

              <form ng-submit="register()" class="form-horizontal">
            <div class="form-group">
              <input type="text"
              class="form-control"
              placeholder="Username"
              ng-model="user.username"></input>
              </div>
              <div class="form-group">
              <input type="password"
              class="form-control"
              placeholder="Password"
              ng-model="user.password"></input>
              </div>
              <button type="submit" class="btn btn-primary">Register</button>
      </form>

  </md-content>
</md-tab>
</md-tabs>

</div>
