<div class="row">
  <div class="col-xs-4">
    {{show.title}}
    <ul class="list-inline">
      <li ng-repeat="genre in show.genres">{{genre}} | </li>
    </ul>
    <img src={{show.image.medium}}>
  </div>
<div class="col-xs-7">
    <h2>Summary</h2>
    <p ng-bind-html="show.summary" ></p>

<br>
<br>
<br>

    <h2 class="strong text-center">Cast</h2>
    <table class="table table-striped">
      <tr ng-repeat="cast in show._embedded.cast">
        <td><img class="pull-left col-xs-4" ng-src={{cast.character.image.medium}} ng-show="checkImage(cast)">
            <img class="pull-left col-xs-4" ng-src="resources/images/default-profile-picture.gif" ng-show="!checkImage(cast)"></td>
        <td>{{cast.person.name}}...{{cast.character.name}} </td>
      </tr>

</div>
</div>
