<div class="jumbotron">
  <h1>Shows You Have Watched</h1>
<div class="row"ng-repeat="show in showList" ng-model="show" >
  <div class="container-fluid">
  <div class="panel panel-primary">

  <div class="panel-heading">
    <div class="panel-title">
                    {{show.name}}
                    <button type="submit"class="btn btn-md btn-warning pull-right"
                      ng-click=removeShow(show.id)>
                      Add Show</button>
    </div>
  </div>
  <div class="panel-body">



      <img class ="class-xs-5 pull-left" src={{show.image.medium}} >


  <div class ="col-xs-6">


    <ul class="list-inline">
      <li ng-repeat="genre in show.genres track by $index">{{genre}} | </li>


    </ul>

    <p ng-bind-html="show.summary" ></p>
</div>

</div>



</div>
</div>
</div>
</div>
